.searchbar{
  color:black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

  }

  /* When the input field gets focus, change its width to 100% */
  .searchbar:focus {
      width: 100%;
  }

  div.gallery {
    margin: 5px;
    float: left;
    width: 250px;
    height: 375px;
    border-width: 5px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  div.gallery img {
    position: relative;
    float: top;
    width:  250px;
    height: 250px;
  }

  div.overlay {
  position: relative;
  margin-top: 100px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

  div.gallery:hover .overlay {
    opacity: 1;

  }

  div.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -85%);
    -ms-transform: translate(-50%, -50%);
    background-color: none;
  }

  button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: black;
  }
