.welcome{
  text-align: center;
  color: black !important;
  background-color : #56C2B3 !important ;
  font-family: 'Arvo', regular;
}

.main_buttons:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main_button_group{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 15px;
}

.body {
  background-color: #FFC297 !important;
}

.help{
  text-align: right;
}
